build/*.js
src/assets
src/store/*.js
src/store/modules/*.js
src/layout
src/views
src/components
src/common
src/router
src/*.js
public
dist
mock/*.js
src/utils/*.js
src/api/*.js
src/test
src/serve
src/App.vue